.productBody {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.productBody img {
    height: 250px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
