body {
  height: 100vh;
}

.App {
  height: 100%;
}

.mainBody {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.cart {
  width: 20vw;
}

.header {
  background-color: #C99E5E;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: #664a2073 1px solid;
}

.cartIcon {
  height: 50px;
  filter: invert(100%);
  cursor: pointer;
}

.cartIcon:hover {
  filter: invert(0%);
}

.modal {
  background-color: #C99E5E;
  border: #614e327c 1px solid;
}
